<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bad Request</title>
</head>

<body>
	<h1>400 - Bad Request</h1>
	<p><a href="/">Back to homepage</a>.</p>
	<img src="https://http.cat/400" alt="Bad request cat">
</body>

</html>
