<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not Found</title>
</head>

<body>
	<h1>404 - Not Found</h1>
	<p><a href="/">Back to homepage</a>.</p>
	<img src="https://http.cat/404" alt="Not found cat">
</body>

</html>
