<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
</head>

<body>

	<ul>
		<li><a href="/">Homepage</a></li>
		<% if (user) { %>
			<li><a href="/logout">Logout</a></li>
		<% } else { %>
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Login</a></li>
		<% } %>
	</ul>
