<%- include('_header', { title: 'Chat' }) %>

<h1>Chat</h1>

<% if (user) { %>
	<h2>Rooms</h2>

	<form action="/create-room" method="post">
		<input type="text" name="name" placeholder="Room name">
		<button type="submit">Create</button>
	</form>

	<% if (rooms.length < 1) { %>
		<p>There are currently no rooms.</p>
	<% } else { %>
		<ol>
			<% for (const room of rooms) { %>
				<li><a href="/room/<%= room.id %>"><%= room.name %>-<%= room.id %></a><% if (room.author == user.id) { %> <a href="/delete-room/<%= room.id %>">❌</a><% } %></li>
			<% } %>
		</ol>
	<% } %>
<% } else { %>
	<p>To use this application, <a href="/login">log in</a> or <a href="/register">create an account</a> first.</p>
<% } %>

<%- include('_footer') %>
