<%- include('_header', { title: 'Register' }) %>

<h1>Login</h1>

<form action="/login" method="post">
	<input type="text" name="username" placeholder="Uživatelské jméno">
	<input type="password" name="password" placeholder="Heslo">
	<button type="submit">Přihlásit se</button>
</form>

<%- include('_footer') %>
