<%- include('_header', { title: 'Register' }) %>

<h1>Register</h1>

<form action="/register" method="post">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button type="submit">Register</button>
</form>

<%- include('_footer') %>
