<%- include('_header', { title: 'Register' }) %>

<h1>Room: <%= room.name %>-<%= room.id %></h1>

<noscript>
	<h1>You have disabled JavaScript. Realtime chat won't work.</h1>
	<p>You either have to enable JavaScript or manually refresh the webpage.</p>
</noscript>

<% if (user) { %>
	<form action="/room/<%= room.id %>/post-message" method="post">
		<input type="text" name="content" placeholder="Message" autofocus>
		<button type="submit">Send</button>
	</form>
<% } %>

<ul id="message-list">
	<% if (messages.length > 0) { %>
			<% for (const message of messages) { %>
				<li><%= message.createdAt %> (<%= message.username %>): <%= message.content %></li>
			<% } %>
	<% } else { %>
		<li>There are no messages.</li>
	<% } %>
</ul>

<script>
const ul = document.querySelector('#message-list');

const source = new EventSource('/room/<%= room.id %>/messages');
source.addEventListener('message', (e) => {
	const data = JSON.parse(e.data);
	const newListItem = document.createElement('li');
	newListItem.textContent = `${data['createdAt']} (${data['username']}): ${data['content']}`;
	ul.insertBefore(newListItem, ul.firstChild);
});

const form = document.querySelector('form');
form.addEventListener('submit', (e) => {
	e.preventDefault();
	const formData = new FormData(form);
	const content = formData.get('content');
	fetch('/room/<%= room.id %>/post-message', {
		method: 'POST',
		body: JSON.stringify({ content }),
		headers: {
			'Content-Type': 'application/json',
		},
	})
	.catch((err) => console.error(err));
	form.reset();
});
</script>

<%- include('_footer') %>
